<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-image: url(https://as1.ftcdn.net/v2/jpg/06/50/58/74/1000_F_650587488_x0CidHezOrliOZOiwYDxxwGH7ZZMTX1B.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .homepage {
            font-size: 1.2em; /* Larger font size */
            color: white;
            margin: 0;
        }

        .button {
            margin-top: 20px; /* Adjust vertical spacing */
        }

        .button a {
            text-decoration: none;
            color: rgb(249, 251, 255);
            padding: 10px 20px;
            border: 2px solid rgba(240, 240, 237, 0.781);
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

        .button a:hover {
            background-color: rgba(234, 235, 234, 0.781);
            color: #fff;
        }

        .hhh {
            margin-top: 20px; /* Adjust vertical spacing */
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="homepage">
        <h1>Welcome to CRUD App</h1>
        <div class="button">
            <a href="/auth/signin">Sign In</a>
        </div>
        <div class="hhh">
            <h1>Book Library</h1>
        </div>
    </div>
</body>
</html>
