<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
<h1>ALL BOOKS</h1>
<ol type="1">
    <% for (let book of books){ %>
    <li><a href="/<%=userData.username%>/books/<%=book._id%>"><%=book.title%></a></li>
    <% } %>
</ol>
<a href="/<%=userData.username%>/new">ADD BOOK</a>
<a href="/home">Sign-out</a>


</body>
</html>